<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PureLauncher Installer</title>
</head>
<body>
  Loading...
  <script>
    var obj = <%= resources %>
    location.href = 'https://pl.apisium.com/install-local?' + obj
  </script>
</body>
</html>
