.manager-list {
  padding: 0;
  list-style-type: none;
  li {
    padding: 6px;
  }
  .list-top {
    border-bottom: 1px solid #777;
    .add-version {
      display: flex;
      align-items: center;
      i {
        margin: 0 6px 0 10px;
        font-size: 30px;
      }
      span {
        font-size: 15px;
        margin-top: -2px;
      }
    }
  }
}
