.manager-list {
  height: 100%;
  max-width: unset !important;
  min-width: unset !important;
  color: var(--text-color-0);
  li {
    padding: 10px 6px !important;
    position: relative;
  }
  ul {
    padding: 0;
    height: calc(100% - 46px);
    list-style-type: none;
  }
  .list-top {
    padding: 6px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #777;
    span {
      margin-top: -2px;
    }
    .header {
      font-weight: bold;
      font-size: 18px;
      padding-right: 14px;
      border-right: 1px solid #555;
      cursor: pointer;
    }
    .add-btn {
      color: var(--text-color-3);
      display: inline-flex;
      align-items: center;
      font-weight: 100;
      transition: color .3s;
      cursor: pointer;
      i {
        margin: 0 6px 0 10px;
        font-size: 30px;
      }
      span {
        font-size: 14px;
      }
      &:hover {
        color: var(--text-color-2);
      }
    }
  }
  .buttons {
    top: 0;
    bottom: 0;
    position: absolute;
    right: 20px;
    display: flex;
    transition: opacity .6s;
    button {
      margin: auto;
    }
    button + button {
      margin-left: 16px;
    }
  }
}

.manager-versions {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: column;
  ul.scrollable {
    border: none;
    color: inherit;
    width: 100%;
    box-shadow: none;
    max-height: unset !important;
  }
  li {
    margin: 0 18px;
    padding: 14px 0;
    border-top: none !important;
    border-bottom: 1px solid #555;
    background-color: unset !important;
    .buttons {
      opacity: 0;
    }
    &:hover .buttons {
      opacity: 1;
    }
  }
  .time {
    color: var(--text-color-2) !important;
  }
}

.manager-tasks {
  .text {
    display: inline;
    font-size: 17px;
  }

  li {
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 !important;
    vertical-align: middle;
    padding-bottom: 10px !important;
    position: relative;
    color: var(--text-color-1);
    border-bottom: 1px solid #555;
    transition: transform 1s ease-in-out, color .3s !important;
    transform: translateX(-110%);

    span {
      margin: 0 !important;
      font-size: 12px;
      font-weight: lighter;
    }

    span::before {
      content: ' - ';
      font-size: 16px;
    }
  }
  li:hover .button {
    opacity: 1;
  }
  li.finished .text, li.error .text, li.canceled .text {
    text-decoration: line-through;
  }
  li.error {
    color: #f44336;
  }
  li .num {
    font-weight: 200;
    font-size: 12px;
  }

  .button {
    z-index: 1;
    opacity: 0;
    display: flex;
    transition: opacity .3s;
    position: absolute;
    right: 0;
    top: -4px;
    bottom: 0;
    align-items: center;
  }

  ul {
    padding: 0 20px !important;
    border: none !important;
  }

  progress {
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  progress::before {
    content: attr(value) '%';
    position: absolute;
    font-size: 10px;
    top: -3px;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0 0 5px #ffffffb5;
  }

  .speed {
    border-right: 1px solid #555;
    line-height: 24px;
    padding: 0 12px;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 1px;
  }
}

.manager-profiles {
  .avatar {
    float: left;
    margin-right: 16px;
  }
}

.header.no-button {
  border: none !important;
  padding-right: 0 !important;
}

.manager-extensions {
  .container {
    flex: 1;
    overflow: hidden;
  }
  .scrollable {
    height: 100%;
    & > div {
      margin: 14px 0 14px 14px;
      p { width: 64px }
    }
  }
}

.version-edit {
  .rc-dialog-body { width: 360px }
  .pl-form > div { width: 100% }
  .pl-form a {
    width: 100%;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: right;
  }
  .version-icon {
    width: 60px;
    height: 60px;
    margin: auto;
  }
  .quick-launch {
    font-size: 12px;
    text-decoration: none;
    &::after {
      content: '  >';
      font-size: 13px;
      font-family: minecraft;
    }
  }
}

.resource-packs {
  img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  li {
    display: flex;
    align-items: center;
  }
}

.manager-mods {
  .list-top {
    width: calc(100% - 40px) !important;
  }
  .header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
