.avatar {
  width: 36px;
  height: 36px;
  border-radius: 8%;
  overflow: hidden;
  position: relative;
}

.avatar img {
  display: block;
  width: 800%;
  margin: -100%;
  position: absolute;
  image-rendering: pixelated;
}
.avatar .cover {
  margin-left: -500%;
  filter: drop-shadow(0px 2px 5px #0000005e) brightness(1.1);
}
