:root {
  --top-color: #6ead3c;
  --top-border: #fff483c7;
  --top-shadow: rgba(255, 255, 255, 0.62);

  --main-color: #e8c38d;
  --secondary-color: var(--main-color);
  --dropdown-color: #edd1a6;
  --scroll-color: var(--main-color);

  --text-color-0: #000000e0;
  --text-color-1: rgba(29, 30, 30, 0.88);
  --text-color-2: #00000080;
  --text-color-2: #000000c0;
  --link-color: #6ead3c;
  --link-hover-color: #578830;

  --input-color: #f8e8bf;
  --background: #b6824e;

  /* --background: url(https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/startpage-hero/index-hero-sm.png); */
}

:root {
  /* --top-color: url(./assets/images/bg-wool-dark-light.png);
  --top-border: #fff483c7;
  --top-shadow: rgba(255, 255, 255, 0.22); */
  --top-filter: brightness(0.5);
  --launch-filter: brightness(0.8);

  --main-color: url(./assets/images/bg-wool-dark-light.png);
  --secondary-color: var(--main-color);
  --dropdown-color: var(--main-color);
  --scroll-color: url(./assets/images/bg-wool-white.png);

  --text-color-0: #ffffffe0;
  --text-color-1: rgba(255, 255, 255, 0.88);
  --text-color-2: #ffffff80;
  --text-color-3: #ffffffc0;

  --input-color: #444;

  --background: url(./assets/images/bg-wool-dark.png);
}

.scroll-bar {
  overflow: auto !important;
}

.scroll-bar::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--scroll-color);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14),
    0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
