@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import 'rc-dialog/assets/index.css';
@import './custom.css';

* {
  -webkit-user-drag: none;
  user-select: none;
}

html { height: 100% }

body {
  position: relative;
  overflow: hidden;
  top: 80px;
  height: 516px;
  color: var(--text-color-0);
  filter: drop-shadow(2px 4px 4px #00000037);
  animation: shadow 3s ease-in-out infinite;
  -webkit-app-region: drag;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

@keyframes shadow {
  0% { filter: drop-shadow(2px 4px 4px #00000037) }
  50% { filter: drop-shadow(2px 4px 8px #00000067) }
  0% { filter: drop-shadow(2px 4px 4px #00000037) }
}

a { color: var(--text-color-0) }

.top {
  transition: 3s;
  margin-top: 5px;
  height: 30px;
  padding-right: calc(100% - 400px);
  width: 400px;
  will-change: width;
  transform: translateZ(0);
  background-size: 100% 100%;
  background: var(--top-color);
  transform: scaleY(1.3) perspective(.5em) rotateX(5deg) translateZ(0);
  transform-origin: bottom;
  border-bottom: var(--top-border) solid 1.5px;
  box-shadow: inset 0px 0px 20px -2px var(--top-shadow);
  filter: var(--top-filter);
}

.blocks {
  z-index: 1060;
  transition: width 3s;
  height: 20px;
  overflow: hidden;
  position: absolute;
  transform: translateZ(0);
  filter: var(--top-filter);
}

#blocks1 {
  width: 100%;
}

#blocks2 {
  opacity: 0.85;
  margin-top: 20px;
  width: calc(100% - 40px);
  margin-left: 20px;
}

#blocks3 {
  transition: opacity 1s;
  opacity: 0.75;
  margin-top: 40px;
  width: calc(100% - 320px);
  margin-left: 160px;
}

.blocks>div {
  transition: background-color 1s;
  width: 20px;
  height: 20px;
  display: inline-block;
  will-change: background-color;
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.24);
}

main {
  border-radius: 4px;
  transition: 3s;
  overflow: hidden;
  display: flex;
  width: calc(100% - 40px);
  position: absolute;
  top: 50px;
  left: 20px;
  height: calc(100% - 88px);
  background-color: #ae7a47;
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
}

button, a, input, select {
  outline: none !important;
  -webkit-app-region: no-drag;
}

img {
  pointer-events: none;
}

#main-content {
  width: 100%;
  padding: 20px;
  transition: .7s;
  -webkit-app-region: no-drag;
  overflow-x: hidden;
}

#main-content > * {
  transition: .4s ease-in-out;
  display: block;
}

#main-content::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

#main-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--scroll-color);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

#main-content::-webkit-scrollbar-thumb:hover {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14),
    0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

#chicken {
  opacity: 0;
  top: -105px;
  position: absolute;
  animation: move-chicken 30s ease-in-out infinite;
  transition: margin-top 1s, opacity 1s;
  cursor: pointer;
  transform: translateZ(0);
  will-change: transform, margin-left, margin-top;
}
#chicken img {
  height: 140px;
}
#chicken::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: #0000006e;
  bottom: 7px;
  left: 98px;
  border-radius: 50%;
  filter: blur(12px);
}

@keyframes move-chicken {
  0% { margin-left: -240px; transform: rotateY(180deg) translateZ(0) }
  50% { margin-left: 100%; transform: rotateY(180deg) translateZ(0) }
  51% { margin-left: 100%; transform: translateZ(0) }
  100% { margin-left: -240px; transform: translateZ(0) }
}

#close, #hide {
  z-index: 2050;
  background-color: unset;
  border: none;
  position: fixed;
  left: 30px;
  margin-top: 3px;
  cursor: pointer;
  transition: .3s;
}
#close:hover, #hide:hover { transform: scale(1.1) }
#hide {
  left: 62px;
  margin-top: 1px;
}

.rc-dialog-mask {
  height: calc(100% - 90px);
  top: 52px;
  width: calc(100% - 40px);
  left: 20px;
  border-radius: 4px;
}
.rc-dialog-wrap {
  top: 52px;
  z-index: 1100;
  height: calc(100% - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rc-dialog-content {
  border-radius: 3px;
  background-image: url(./assets/images/bg-wool-white.png);
}
.rc-dialog-close {
  transition: .4s;
}
.rc-dialog {
  color: #000000e0;
  width: auto;
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14),
    0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}

#top-logo {
  cursor: pointer;
  -webkit-app-region: no-drag;
  filter: drop-shadow(2px 4px 6px #0000004e);
  top: 40px;
  left: calc(50% - 150px);
  z-index: 1061;
  position: fixed;
  width: 300px;
  transition: .8s;
}
#top-logo img {
  max-width: 100%;
  max-height: 100%;
  image-rendering: pixelated;
}
#top-logo:hover {
  filter: drop-shadow(2px 4px 6px #0000008e);
}
